.container{
  width: 100% !important;
  /* padding: 60px 80px; */
}


.pageWrapper {
  padding: 40px 48px;
  background: #f5f7fb;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #111827;
  font-family: "Poppins", sans-serif;
}

.headerButtons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 30px;
  padding-right: 50px;
}

/* Buttons: rely on MUI variants for base, but add spacing/size via classes */
.outlineBtn {
  text-transform: none;
  border-radius: 8px;
  padding-top: 30px;
}

.primaryBtn {
  text-transform: none;
  background-color: #1976d2; /* overrides MUI's default when using className */
  color: #fff;
  border-radius: 8px;
  padding: 6px 16px;
}

/* Table container */
.tableContainer {
 
  width: 100%;
    margin: 8px auto 20px;
    max-width: 1220px;
}

/* Footer Buttons */
.footerButtons {
  margin-top: auto; 
  padding-top: 12px;
  padding-bottom: 24px;

}

.stack {
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content:end !important;
  margin: auto;
}

.largeOutline {
  text-transform: none;
  padding: 10px 28px;
  border-radius: 8px;
}

.successBtn {
  text-transform: none;
  padding: 10px 28px;
  border-radius: 8px;
  background-color: #99D538 !important;
  color: #fff;
}
