.appBar {
  background-color: #fff !important;
  box-shadow: none !important;
  box-sizing: border-box;
}

.appBarBox {
  width: 100%;
  box-shadow: 0 2px 4px rgba(196, 195, 195, 0.627) !important;
}

.toolbar {
  margin: auto;
  max-width: 1220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-align: center;
  /* padding-right: 100px; */
  /* font-family: "Playfair Display", serif !important; */
  font-size: 40px !important;
  color: #000;

  /* @media(max-width:900px) {
    text-align: start;
  }

  @media(max-width:698px) {
    display: none;
  } */
}

/* .logo {
  width: 167px;
  height: 37px;

  background: transparent 0% 0% no-repeat padding-box;
  cursor: pointer;


} */

.logo {
  width: 100px;
  height: 37px;

  background: "blue";
  cursor: pointer;
}
